:root {
  --background-color: rgb(13, 17, 23);
  --navbar-color: rgb(22, 27, 34);
  --primary-text-color: white;
  --secondary-text-color: rgb(206, 172, 172);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--background-color);
}
.app__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
